/* ------------------------------ variables ------------------------------ */
/* typography variables */
/* color variables */
/* yellow */
/* mint */
/* rose */
/* sea green */
/* baby blue */
/* ------------------------------ typography ------------------------------ */
@font-face {
  font-family: "GothamNarrow-Black", "Franklin Gothic Medium", Arial, sans-serif;
  src: url("../fonts/GothamNarrow-Black.otf") format("opentype"); }
@font-face {
  font-family: "GothamNarrow-BlackItalic", "Franklin Gothic Medium", Arial, sans-serif;
  src: url("../fonts/GothamNarrow-BlackItalic.otf") format("opentype"); }
@font-face {
  font-family: "GothamNarrow-Book", "Franklin Gothic Medium", Arial, sans-serif;
  src: url("../fonts/GothamNarrow-Book.otf") format("opentype"); }
@font-face {
  font-family: "GothamNarrow-BookItalic", "Franklin Gothic Medium", Arial, sans-serif;
  src: url("../fonts/GothamNarrow-BookItalic.otf") format("opentype"); }
/* ------------------------------ headings ------------------------------ */
/* ------------------------------ foundations ------------------------------ */
/* prevent certain mobile browsers from automatically zooming fonts */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/* removes undesired page margins
   standarizes font and line-height */
body {
  margin: 0;
  font: 16px/1 "GothamNarrow-Book";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

/* strips margin and padding away from core elements */
h1, h2, h3, h4, h5, h6, p,
blockquote,
figure,
ol, ul {
  margin: 0;
  padding: 0; }

/* fixes main tag from breaking layout in ie
   strips styling from lists */
main,
li {
  display: block; }

/* makes headings inherit the same size as surrounding text and not arbitrary larger sizes */
h1, h2, h3, h4 {
  font-size: inherit; }

/* corrects some browsers defaulting to bolder */
strong {
  font-weight: bold; }

/* makes links inherit the same color as surroundings */
a,
button {
  color: inherit;
  transition: .3s; }

a {
  text-decoration: none; }

/* resets the native appearance in all browsers, gives all buttons a pointer cursor */
button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer; }

/* fixes bug in firefox */
::-moz-focus-inner {
  padding: 0;
  border: 0; }

/* makes sure that images are responsive */
img {
  max-width: 100%;
  height: auto;
  border: 0; }

/* ------------------------------ custom ------------------------------ */
/* --------------- header --------------- */
header {
  width: 100%;
  height: auto;
  /*background: #ee4a37;*/
  position: fixed;
  /*z-index: 100;*/ }
  header #logo {
    width: 5.17578%;
    padding-left: 4.88281%;
    padding-right: 4.88281%;
    padding-top: 4.00391%;
    padding-bottom: 4.00391%;
    float: left;
    /*	img {
    		width: 134px;
    	}*/ }
  header #navbutton {
    /*width: percentage(29px/1024px);*/
    /*padding: percentage(21px/1024px);*/
    width: 35px;
    padding: 25px;
    padding-top: 70px;
    float: right; }

/* --------------- overlay menu --------------- */
.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 10;
  color: #B3B3B3;
  overflow: auto; }
  .overlay #closebutton {
    display: block;
    text-align: right;
    padding: 10px 20px; }
  .overlay nav ul li {
    font-size: 4em;
    text-align: center;
    padding-top: 0.97656%;
    padding-bottom: 0.97656%; }
    .overlay nav ul li:nth-child(1):hover {
      background-color: #B1D8BE; }
      .overlay nav ul li:nth-child(1):hover h1 {
        color: white; }
    .overlay nav ul li:nth-child(2):hover {
      background-color: #F47472; }
      .overlay nav ul li:nth-child(2):hover h1 {
        color: white; }
    .overlay nav ul li:nth-child(3):hover {
      background-color: #C1E5E1; }
      .overlay nav ul li:nth-child(3):hover h1 {
        color: white; }
    .overlay nav ul li:nth-child(4):hover {
      background-color: #C1E5E1; }
      .overlay nav ul li:nth-child(4):hover h1 {
        color: white; }
    .overlay nav ul li:nth-child(5):hover {
      background-color: #CEE8EF; }
      .overlay nav ul li:nth-child(5):hover h1 {
        color: white; }
    .overlay nav ul li #twitternav:hover {
      color: #C4C4C4;
      /*twitter blue*/ }
    .overlay nav ul li #emailnav:hover {
      color: #C4C4C4;
      /*twitter blue*/ }

/* --------------- page layout --------------- */
.layout {
  width: 100%; }

/* for all pages */
.layoutcontainer {
  width: 78.125%;
  /* the width of the main container */
  margin-left: 14.94141%;
  /* 153px should be the total width of .logo */
  /*margin-right: percentage(29px/1024px);*/
  box-sizing: border-box;
  /* box-sizing puts borders and padding inside the content */
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  color: #FFFFFF; }

/* for pages with the 2-column layout */
.flexbox-container {
  /* for any page that has the main 2-column layout */
  display: -ms-flex;
  display: -webkit-flex;
  display: flex; }
  .flexbox-container > div {
    /* applies to the 2 main columns */
    box-sizing: border-box; }
  .flexbox-container > .col1-container {
    /* main column 1 */
    width: 62.5%;
    /* 800 is the width of .layoutcontainer */
    /*border-right: 1px solid $pageFontColor;*/ }
  .flexbox-container > .col2-container {
    /* main column 2 */
    width: 37.5%; }

/* for pages with the 2-column layout and boxes inside each column */
.box-container-col1 {
  /* boxes inside column 1 */
  padding: 8.2%; }

.box-container-col2 {
  /* boxes inside column 2 */
  padding: 10.33333%; }

/* --------------- page 1 (yellow) --------------- */
#page1 {
  background: #FBE000; }

#page1container {
  padding: 4.00391%;
  /* padding for the main container */ }
  #page1container h1 {
    font: 4em/1 "GothamNarrow-Black", "Franklin Gothic Medium", Arial, sans-serif;
    padding-bottom: 0.4em; }
  #page1container h2 {
    font: 2em/1 "GothamNarrow-Book", "Franklin Gothic Medium", Arial, sans-serif;
    padding-bottom: 0.6em; }
  #page1container h6 {
    font: 2em/1.2 "GothamNarrow-Black", "Franklin Gothic Medium", Arial, sans-serif; }
  #page1container .italics {
    font-family: "GothamNarrow-BookItalic"; }

/* --------------- page 2 (mint) --------------- */
#page2 {
  background: #B1D8BE; }
  #page2 .col1-container {
    border-right: 1px solid #FFFFFF; }

#page2container h6 {
  font: 2em/1.2 "GothamNarrow-Black", "Franklin Gothic Medium", Arial, sans-serif; }
#page2container h3 {
  font: 2.7em/1 "GothamNarrow-Black", "Franklin Gothic Medium", Arial, sans-serif;
  padding-bottom: 0.4em; }
#page2container p {
  font: 1.2em/1.4 "GothamNarrow-Book", "Franklin Gothic Medium", Arial, sans-serif;
  padding-bottom: 0.8em; }
#page2container h4 {
  font: 1.2em/1.2 "GothamNarrow-Book", "Franklin Gothic Medium", Arial, sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-bottom: 1em; }
#page2container figcaption {
  font: 0.8em/1.2 "GothamNarrow-Book", "Franklin Gothic Medium", Arial, sans-serif;
  text-transform: uppercase; }

/* tells how to layout the imgs in col 2 */
#awardscontainer, #orgscontainer {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex; }
  #awardscontainer > figure, #orgscontainer > figure {
    /* holds img and figcaption */
    width: 40%;
    padding-right: 6.66667%; }
    #awardscontainer > figure > img, #orgscontainer > figure > img {
      padding-bottom: 12.5%; }

/* page 2 boxes */
#quote {
  /* column 1, 1st box */
  border-bottom: 1px solid #FFFFFF; }
  #quote .quoteby {
    text-align: right; }

#beliefs {
  /* column 1, 2nd box */
  	/*li {
  		display: inline-block;
  		padding-right: percentage(15px/500px);
  
  		h5 {
  			font-size: 2em;
  			padding: 0;
  		}
  	}*/ }
  #beliefs .slider {
    position: relative;
    overflow: hidden; }
    #beliefs .slider li {
      display: none;
      position: absolute;
      top: 0;
      left: 0; }

#awards {
  /* column 2, 1st box */
  border-bottom: 1px solid #FFFFFF; }

/* --------------- page 3 (pink) --------------- */
#page3 {
  background: #F47472; }
  #page3 .col1-container {
    border-left: 1px solid #FFFFFF; }

#page3container h3 {
  font: 2.7em/1 "GothamNarrow-Black", "Franklin Gothic Medium", Arial, sans-serif;
  padding-bottom: 0.4em; }
#page3container h5 {
  font: 1.6em/1.4 "GothamNarrow-Black", "Franklin Gothic Medium", Arial, sans-serif;
  padding-bottom: 0.4em; }
#page3container p {
  font: 1.2em/1.4 "GothamNarrow-Book", "Franklin Gothic Medium", Arial, sans-serif;
  padding-bottom: 0.8em; }
#page3container h4 {
  font: 1.2em/1.2 "GothamNarrow-Book", "Franklin Gothic Medium", Arial, sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-bottom: 1em; }

/* page 3 boxes */
.workpost {
  padding-bottom: 2%; }

.workpostcontainer p {
  width: 50%;
  padding-right: 8%;
  display: inline-block;
  vertical-align: top; }

#goodat {
  border-bottom: 1px solid #FFFFFF; }

.skillslist {
  display: inline-block;
  vertical-align: top; }

#skillslist-1 {
  padding-right: 8.33333%; }

/* --------------- page 4 (sea green) --------------- */
#page4 {
  background: #C1E5E1; }
  #page4 .col1-container {
    border-right: 1px solid #FFFFFF; }

#page4container h3 {
  font: 2.7em/1 "GothamNarrow-Black", "Franklin Gothic Medium", Arial, sans-serif;
  padding-bottom: 0.4em; }
#page4container h4 {
  font: 1.2em/1.2 "GothamNarrow-Book", "Franklin Gothic Medium", Arial, sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-bottom: 1em; }
#page4container h5 {
  font: 1.6em/1.4 "GothamNarrow-Black", "Franklin Gothic Medium", Arial, sans-serif;
  padding-bottom: 0.4em; }
#page4container p {
  font: 1.2em/1.4 "GothamNarrow-Book", "Franklin Gothic Medium", Arial, sans-serif;
  padding-bottom: 0.8em; }
#page4container .tool {
  width: 38%;
  padding-right: 10%;
  padding-bottom: 4%;
  display: inline-block; }
  #page4container .tool img {
    padding-bottom: 8%;
    text-align: center; }
  #page4container .tool h4 {
    padding-bottom: 0.5em; }
#page4container .blogpost {
  padding-top: 10%;
  padding-bottom: 10%; }
  #page4container .blogpost .date, #page4container .blogpost .readmore, #page4container .blogpost .blogpostfooter {
    text-transform: uppercase;
    font-size: 0.9em;
    padding-bottom: 0; }
  #page4container .blogpost h5 {
    padding-bottom: 0; }
  #page4container .blogpost p {
    padding-bottom: 0.4em; }
  #page4container .blogpost .blogpostfooter {
    text-align: right; }

/* --------------- page 5 (baby blue) --------------- */
#page5 {
  background: #CEE8EF; }

#page5container {
  padding: 4.00391%;
  /* padding for the main container */ }
  #page5container h1 {
    font: 4em/1 "GothamNarrow-Black", "Franklin Gothic Medium", Arial, sans-serif;
    padding-bottom: 0.4em; }
  #page5container h2 {
    font: 2em/1 "GothamNarrow-Book", "Franklin Gothic Medium", Arial, sans-serif;
    padding-bottom: 0.6em; }
  #page5container h3 {
    font: 2.7em/1 "GothamNarrow-Black", "Franklin Gothic Medium", Arial, sans-serif;
    padding-bottom: 0.4em; }
  #page5container h4 {
    font: 1.2em/1.2 "GothamNarrow-Book", "Franklin Gothic Medium", Arial, sans-serif;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding-bottom: 1em; }

/* page 5 boxes */
/* --------------- footer --------------- */
footer {
  background: #FFFFFF;
  padding: 2.05078%;
  /* padding for the main container */
  padding-bottom: 3.02734%;
  color: #B3B3B3; }
  footer h4 {
    font: 1.2em/1.2 "GothamNarrow-Book", "Franklin Gothic Medium", Arial, sans-serif;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding-bottom: 1em; }
  footer h4 {
    font-size: 0.8em;
    letter-spacing: 0.1em; }
  footer #copyright {
    float: left; }
  footer #madewithlove {
    float: right; }

/* ------------------------------ media queries ------------------------------ */
@media screen and (max-width: 900px) {
  .flexbox-container {
    /* for any page that has the main 2-column layout */
    display: block; }
    .flexbox-container > .col1-container {
      /* main column 1 */
      width: 100%;
      /* 800 is the width of .layoutcontainer */
      /* border-right: 1px solid $pageFontColor; */ }
    .flexbox-container > .col2-container {
      width: 100%;
      display: -ms-flex;
      display: -webkit-flex;
      display: flex; }

  /* end .flexbox-container */ }

/*# sourceMappingURL=styles.css.map */
